body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74b8eb, #e5ace5);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

input {
  padding: 20px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #4caf6a;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#weatherOutput {
  margin-top: 20px;
  font-size: 18px;
}
